training/
validation/
rouge2_v1.2.2_runnable/
results/
gold_summaries/
gold_summaries1/
generate_summaries1/
generate_summaries2/
generate_summaries3/
generate_summaries4/
score/
training.tar.gz
validation.tar.gz
rouge2_v1.2.2_runnable.zip
generated_summaries1/
generated_summaries2/
generated_summaries3
generated_summaries4
